div div {
	border-radius: 15px;
	margin: 10px;
	display: inline-block;
	color: #bfd7ea;
	padding: 10px;
	vertical-align: top;
	font-size: 90%;
}



a {
	color: #52dee5;
}

ul {
	padding-left: 20px;
	margin-top: 0px;
}

.content li {
	margin-top: 10px;
}

.container{
	background-color: #12355b;
	width: 970px;
	padding: 0px;
}

.banner {
	background-color: #d72638;
	width: 96%;
}

.sidenav {
	background-color: #087e8b;
	width:15%;
}

.content {
	background-color: #0c1821;
	width:76%;
}

.bottom {
	background-color: #5c6672;
	width: 96%;
}

.blue-highlight {
	color: #7692ea;
}